* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI";
}

body {
  width: 100%;
  height: 100%;
  background-color: #121216;
  color: #f2f2f2;
  align-content: center;

  main {
    width: 450px;
    height: 680px;
    margin: auto;
    background-color: #161616;
    border: 6px solid #161616;
    border-radius: 16px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px 4px 32px 4px;

    @media (max-width: 500px) {
      width: 100%;
      height: 100%;
      padding: 45px 2px 45px 2px;
      border: 0;
      border-radius: 0;

      .screen {
        height: 30%;
      }
    }

    .screen {
      width: 100%;
      height: 25%;
      align-content: center;

      input {
        padding: 6px;
        margin: 0;
        text-align: right;
        align-content: center;
        font-size: 4em;
        color: #e2e2e2;
        background-color: #161616;
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    .icon-container {
      width: 50px;
      height: 50px;
      align-self: flex-end;
      margin: 0 34px 6px 0;
      cursor: pointer;
      text-align: center;
      border-radius: 50%;
      -webkit-tap-highlight-color: transparent;

      &:hover {
        .icon {
          fill: #5cd97c; /* Color del ícono al pasar el mouse */
        }
      }
      &:active {
        .icon {
          fill: #34c759; /* Color del ícono al hacer clic */
        }
      }
    }

    .icon {
      width: 60px; /* Define el tamaño de tus íconos */
      height: 60px;
      fill: #34c759; /* Color del ícono */
      background-color: transparent; /* Asegura que el fondo sea transparente */
      display: inline-block; /* Asegura que el ícono se comporte como un elemento de texto */
      vertical-align: middle; /* Alineación vertical */
      transition: all 0.2s ease-in-out;
    }

    .middle-line {
      width: 98%;
      height: 4px;
      background-color: #404040;
      border: none;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .controls {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 6px 16px;

      button {
        width: 100%;
        height: 100%;
        font-size: 1.8em;
        border: none;
        border-radius: 50%;
        background-color: #202020;
        color: #e2e2e2;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        -webkit-tap-highlight-color: transparent;

        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          background-color: #666;
        }

        &.functions {
          background-color: #404040;

          &:hover {
            background-color: #666;
          }
          &:active {
            background-color: #404040;
          }
        }

        &.operator {
          font-size: 2.2em;
          background-color: #aaa;
          color: #121212;
          &:hover {
            background-color: #ccc;
          }
          &:active {
            background-color: #aaa;
          }
        }

        &.equal {
          color: #e2e2e2;
          background-color: #34c759;
          &:hover {
            background-color: #5cd97c;
          }
          &:active {
            background-color: #34c759;
          }
        }
      }
    }
  }
}
